body {
    background-color: rgb(58, 185, 228);
}

h3 {
    font-size: 40px;
    text-align: center;
}

p {
    width: 2em;
}

.line {
    display: inline-block;
}

.button {
    border-radius: 8px;
    width: 70px;
    height: 60px;
}

.secondlayer {
    border: 7px solid;
    border-style: groove;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.input {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 50px;
}

.result {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}